// BUTTONS

[type="button"],
[type="submit"],
[type="reset"],
button,
.button,
.wp-block-button__link {

	@include button($color-primary, $background-hover: $biscay);

	border-radius: 5px;
	color: $text-default-light;
	display: inline-block;
	font-family: $base-font-family;
	font-size: rem(16);
	font-weight: 700;
	letter-spacing: 0.02em;
	padding: 1em 2em;
	text-decoration: none;
	text-transform: uppercase;
	transition: $transition-bg-color;
}

a {

	&.button,
	&.wp-block-button__link {
		color: $text-default-light;
	}
}

.button--cta {

	@include button($color-accent, $background-hover: $veridian);
}

.button--light {

	@include button($white-smoke, $background-hover: $raven);

	color: $text-default-dark;
	transition: $transition-bg-color, $transition-color;

	&:hover,
	&:focus {
		color: $text-default-light;
	}
}

.button--outline {
	background-color: transparent;
	box-shadow: inset 0 0 0 3px $color-primary;
	color: $color-primary;
	transition: $transition-bg-color, $transition-color;

	&:hover,
	&:active,
	&:focus {
		background-color: $color-primary;
		color: $white;
	}
}

.button--small {
	font-size: rem(14);
}

.button--large {
	font-size: rem(20);
}
