// FORMS

label {
	display: block;
	font-weight: 700;
}

[type="date"],
[type="datetime"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
textarea {
	border: 1px solid $raven;
	border-radius: 5px;
	font-family: $base-font-family;
	padding: 0.5em;

	&:focus {
		border-color: $color-primary;
	}

	&:disabled {
		background-color: $concrete;
		cursor: not-allowed;
	}

	&.valid {
		border-color: $color-success;
	}

	&.invalid {
		border-color: $color-danger;
	}
}

[type="search"] {
	background: url(../icons/search.svg) no-repeat;
	background-position: 125% center;
	background-size: 50%;
}

[type="checkbox"],
[type="radio"] {
	margin-top: -5px;
	vertical-align: middle;

	+ label {
		display: inline;
		margin-left: 0.5em;

		+ input {
			margin-left: 1em;
		}
	}
}

select {
	appearance: none;
	background: url(../icons/chevron-down.svg) no-repeat;
	background-position: 100% center;
	background-size: 50%;
	border: 1px solid $raven;
	border-radius: 5px;
	font-family: $base-font-family;
	padding: 0.5em 1em;

	&:focus {
		border-color: $color-primary;
	}
}

// WP Search form.
.search-form {
	display: flex;

	[type="submit"] {
		margin-left: 1em;
		padding: 0.5em 1em;
	}
}
