// LINKS

a {

	@include link($link, $link-hover, $color-visited: $link-visited);

	transition: color 0.3s ease-in-out;
}

.link {

	&--arrow {

		@include decorative-link($color-primary, $color-accent);

		font-weight: 700;
		text-decoration: none;
	}
}
