// TYPOGRAPHY

// Headings.
h1,
h2,
h3,
h4,
h5,
h6 {
	color: $cinder;
	line-height: 1.2;
	margin: 0 0 0.5em;
}

h2,
h4,
h6 {
	font-weight: 400;
	text-transform: uppercase;
}

h1 {
	font-size: rem(42);
}

h2 {
	font-size: rem(36);
}

h3 {
	font-size: rem(30);
}

h4 {
	font-size: rem(28);
}

h5 {
	font-size: rem(24);
}

h6 {
	font-size: rem(20);
}

// Paragraphs.
p {
	margin: 0 0 1.5em;
}

// Horizontal rule (separator).
hr {
	background-color: $gray-chateau;
	border: none;
	height: 2px;
	max-width: 100%;
	width: rem(200);
}

// Code.
code,
kbd,
var,
samp {
	background-color: $white-smoke;
	display: inline-block;
	font-family: $font-family-monospace;
	font-size: rem(16);
	line-height: unitless-calc(22, 16);
}

pre {
	border: 1px solid $gray-chateau;
	font-family: $font-family-monospace;
	font-size: rem(16);
	padding: 1em;
}

// Quotes.
blockquote,
.wp-block-quote {
	// Styles only for the "default" style, i.e. Style 1.
	&:not(.is-large):not(.wp-block-pullquote) {
		border-image: linear-gradient(to bottom, $color-primary, $color-accent);
		border-image-slice: 1;
		border-left: 20px solid transparent;
		padding-left: rem(24);
	}

	p {
		margin-bottom: 1em;
	}

	// "Style 2"
	&.is-large {
		font-size: rem(24);
		font-style: italic;
		margin-top: 2em;

		&:before {
			background: $color-accent url(../icons/left-quote.svg) center no-repeat;
			background-size: rem(35);
			border-radius: 50%;
			content: "";
			display: block;
			float: left;
			height: rem(75);
			margin-right: rem(25);
			margin-top: -1em;
			width: rem(75);
		}

		p {
			overflow: hidden;
		}

		cite {
			font-weight: 700;
			margin-left: 100px;
		}
	}
}

.wp-block-pullquote {
	border-bottom: 5px solid transparent;
	border-image: linear-gradient(to right, $color-primary, $color-accent);
	border-image-slice: 1;
	border-top: 10px solid transparent;
	padding: rem(24) 0;
}
