// BASE

html {
	font-size: $base-font-size * 1px;
}

body {
	background-color: $body-background; // stylelint-disable-line order/properties-alphabetical-order
	color: $text-default-dark;
	font-family: $base-font-family;
	-webkit-font-smoothing: antialiased;
	line-height: unitless-calc($base-line-height, $base-font-size);
}

a {
	color: $link;
	transition: color 0.3s ease-in-out;

	&:visited {
		color: $link-visited;
	}

	&:hover {
		color: $link-hover;
	}
}

img {
	height: auto;
	max-width: 100%;
}

.screen-reader-text {

	@include screen-reader-text;

	&-focusable {

		@include screen-reader-text-focusable;
	}
}
