// CONFIG
// stylelint-disable max-line-length

// ====================================
// COLORS
// ====================================

// Theme colors.
$bay-of-many: #1f4483;
$puerto-rico: #58b7a1;
$white: #fff;
$mine-shaft: #363a42;
$white-smoke: #ebecee;

// Secondary colors.
$biscay: #16305c;
$hoki: #637da9;
$veridian: #3e8071;
$bermuda: #8bcdbe;
$cinder: #26292e;
$raven: #73767b;
$gray-chateau: #a4a5a6;
$concrete: #f1f2f3;
$black: #000;

// Utility colors.
$apple: #54a236;
$well-read: #b13134;
$tacha: #dbc15b;

// Main colors.
$color-primary: $bay-of-many !default;
$color-accent: $puerto-rico !default;
$color-success: $apple !default;
$color-danger: $well-read !default;
$color-light-gray: $white-smoke !default;
$color-dark-gray: $raven !default;
$color-shadow: rgba($cinder, 0.15);

/// The main colors used throughout the site.
/// This map can be used to automatically add color classes.
///
/// @type Map
$theme-colors: (
	"primary": $color-primary,
	"accent": $color-accent,
	"success": $color-success,
	"danger": $color-danger,
	"light-gray": $color-light-gray,
	"dark-gray": $color-dark-gray,
	"shadow": $color-shadow
);

// Elements.
$body-background: $white;

$text-default-dark: $mine-shaft;
$text-default-light: $white;

$link: $color-primary;
$link-hover: $biscay;
$link-visited: $link;

// ====================================
// TYPOGRAPHY
// ====================================
$font-family-sans-serif: "PT Sans", sans-serif;
$font-family-monospace: "PT Mono", monospace;

/// Set the `body` font family.
///
/// @type String
$base-font-family: $font-family-sans-serif;

/// Set the base (`root`) font size for the project. This should be unitless!
///
/// @type Number
$base-font-size: 18 !default;

/// Set the base line height for the project.
/// This value should be unitless and represent the pixel equivalent.
///
/// @type Number
$base-line-height: 27 !default;

/// Set the base font weight for the project.
///
/// @type {Number|String}
$base-font-weight: 400 !default;

// ====================================
// SIZES
// ====================================

/// Set the max width of the site.
///
/// @type Number
$site-width: 1600px;

/// Set the width of the site's content.
///
/// The Boxed Content setting will use this variable for the site container.
///
/// @type Number
$content-width: 1200px;

/// Set the width of the `main` content.
///
/// @type Number
$main-width: 100%;

$sidebar-width: 350px;

/// Set a default gutter width.
///
/// @type Number
$gutter: 20px;

// ====================================
// BREAKPOINTS
// ====================================

/// Breakpoints - add more as needed.
///
/// @type Number
/// @link https://medium.freecodecamp.com/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862#.or3duno2h
$tablet-portrait: 600px;
$tablet-landscape: 900px;
$desktop: 1200px;
$desktop-xl: 1800px;

// ====================================
// Z-INDEX
// ====================================

/// Keep your sanity while managing your z-indeces.
///
/// @type Map
/// @link https://github.com/minamarkham/sassy-starter/blob/master/src/scss/utilities/_config.scss#L39
$z-index: (default: 1);

// ====================================
// TRANSITIONS
// ====================================
$timing: 0.3s;

$transition-bg-color: background-color $timing ease-in-out;
$transition-color: color $timing ease-in-out;

// ====================================
// SOCIAL LINKS
// ====================================
$social-links: (
	"codepen",
	"facebook",
	"github",
	"gitlab",
	"instagram",
	"linkedin",
	"twitter",
	"youtube",
);
