// EFFECTS

/// Use CSS to mimic the jQuery Slide Toggle Effect.
///
/// @param {String|List} $state [hover] - What action(s) or selector(s) triggers our slide down effect.
/// @param {Number} $duration [0.5s] - The duration of the slide event.
///
/// @example - Sass Usage with list of selectors
///  @include slide-down($state: '.item.focus &' '.item:hover &');
@mixin slide-down($state: hover, $duration: 0.5s) {
	max-height: 0;
	overflow: hidden;
	transition: max-height $duration ease-in-out;

	@if ($state == hover) {

		&:hover {
			max-height: 100vh;
			overflow: visible;
		}
	} @else if (type-of($state) == list) {

		@each $item in $state {

			@if ($item == hover) {

				&:hover {
					max-height: 100vh;
					overflow: visible;
				}
			} @else {

				#{$item} {
					max-height: 100vh;
					overflow: visible;
				}
			}
		}
	} @else {

		#{$state} {
			max-height: 100vh;
		}
	}
}
