// LINKS
// stylelint-disable max-line-length

/// Add color for default, focus, hover, and active states.
///
/// @param {Color} $color                       - The default color.
/// @param {Color} $color-hover                 - The hover color.
/// @param {Color} $color-active [$color-hover] - The active color.
/// @param {Color} $color-visited [$color]      - The visited color.
///
/// @example - scss Sample Usage
///  @include hover($color__primary, $color__accent);
@mixin hover($color, $color-hover, $color-active: $color-hover, $color-visited: $color) {
	color: $color;

	&:focus,
	&:hover {
		color: $color-hover;
	}

	&:active {
		color: $color-active;
	}

	&:visited {
		color: $color-visited;
	}
}

/// Create decorative links with the `:after` pseudo element.
///
/// @param {Color}  $color                              - The default main link color.
/// @param {Color}  $color-hover                        - The hover main link color.
/// @param {Color}  $color-active        [$color-hover] - The active main link color.
/// @param {Color}  $color-visited       [$color]       - The visited main link color.
/// @param {String} $content             ["\2192"]      - The content of the `:after` pseudo element.
/// @param {Color}  $after-color         [$color]       - The `:after` default color.
/// @param {Color}  $after-color-hover   [$after-color] - The hover `:after` color.
/// @param {Color}  $after-color-active  [$after-color] - The active `:after` color.
/// @param {Color}  $after-color-visited [$after-color] - The visited `:after` color.
///
/// @example scss - Sample Usage
///  @include decorative-link($color__primary, $color__accent, $content: "\00BB", $after-color: $color__accent);
@mixin decorative-link($color, $color-hover, $color-active: $color-hover, $color-visited: $color, $content: "\2192", $after-color: $color, $after-color-hover: $after-color, $after-color-active: $after-color, $after-color-visited: $after-color) {

	@include hover($color, $color-hover, $color-active, $color-visited);

	&:after {
		color: $after-color;
		content: $content;
		margin-left: em(5);
		transition: margin 0.3s ease-in-out;
	}

	&:focus,
	&:hover {

		&:after {
			color: $after-color-hover;
			margin-left: em(10);
		}
	}

	&:active {
		color: $after-color-active;
	}

	&:visited {
		color: $after-color-visited;
	}
}
