// CONTENT

.site {
	margin: 0 auto;
	max-width: 100%;
	width: $site-width;

	.boxed & {
		width: $content-width;
	}
}

.site-content {
	margin: 0 auto;
	max-width: 100%;
	padding: $gutter;
	width: $content-width;

	.full-width & {
		width: 100%;
	}

	@include mq-min($tablet-landscape) {

		.left-sidebar &,
		.right-sidebar & {
			display: grid;
			grid-column-gap: $gutter * 2;
		}

		.left-sidebar & {

			grid-template-columns: $sidebar-width minmax(auto, calc(100% - #{$sidebar-width}));
		}

		.right-sidebar & {
			grid-template-columns: minmax(auto, calc(100% - #{$sidebar-width})) $sidebar-width;
		}
	}
}

.left-sidebar {

	.sidebar {
		order: -1;
	}
}

.site-main {
	margin: 0 auto;
	max-width: 100%;
	width: $main-width;
}

@supports not (display: grid) {

	@include mq-min($tablet-landscape) {

		.site-content {

			@include clearfix;
		}

		.content-area {
			float: left;
			width: calc(100% - (#{$sidebar-width} + #{$gutter} * 2));

			.no-sidebar & {
				width: 100%;
			}

			.left-sidebar & {
				float: right;
			}
		}

		.sidebar {
			float: right;
			width: $sidebar-width;

			.left-sidebar & {
				float: left;
			}
		}
	}
}
