// NAVIGATION

.primary-menu {

	@include slide-down(".toggled &");

	@include mq-min($tablet-landscape) {
		max-height: 100%;
		overflow: visible;
	}
}

.menu-toggle {

	@include mq-min($tablet-landscape) {
		display: none;
	}
}

.menu,
.sub-menu {

	@include list-reset;
}

.sub-menu {

	@include slide-down($state: ".menu-item-has-children:hover > &" ".menu-item-has-children.focus > &");

	@include mq-min($tablet-landscape) {
		position: absolute;
		top: 100%;
	}
}

.menu-item-has-children {
	padding-right: 24px;
	position: relative;

	&:after {
		background: url(../icons/chevron-down.svg) no-repeat;
		content: "";
		display: block;
		height: 24px;
		position: absolute;
		right: 0;
		top: 0;
		width: 24px;

		@supports (mask-image: none) or (-webkit-mask-image: none) {
			background: none;
			background-color: currentColor;
			mask-image: url(../icons/chevron-down.svg);
		}
	}
}
