// POST

.post {
	max-width: 100%;
	overflow: hidden;

	& + & {
		margin-top: rem(80);
	}

	&__meta {
		color: $raven;
		font-weight: 700;
		margin-bottom: rem(12);
		text-transform: uppercase;
	}

	&__thumbnail {

		@include mq-min($tablet-portrait) {
			float: left;
			margin-right: rem(30);
			width: 33%;
		}
	}

	&__title {

		@include mq-max($tablet-portrait) {
			margin-top: rem(24);
		}

		font-size: rem(42);
		font-weight: 700;
		margin-bottom: rem(7);
		text-transform: none;
	}

	&__content-wrap {
		overflow: hidden;
	}

	&__content {
		margin-bottom: rem(16);

		p:last-of-type {
			margin-bottom: 0;
		}
	}
}

.post-categories {
	display: inline-block;
	margin-bottom: 0;

	a {

		@include link($raven, $color-primary);

		text-decoration: none;
	}
}
