// CONFIG

// ====================================
// COLORS
// ====================================

// Descriptive colors.
$palantinate-blue: #0e3cda;
$blue-de-france: #458DFE;
$pastel-orange: #feb645;
$mojo: #c64536;
$norway: #9ebe83;
$black: #222;
$aluminum: #999;
$iron: #ccc;
$gainsboro: #ddd;
$athens-gray: #eee;
$white-smoke: #f5f5f5;
$alabaster: #fbfbfb;
$white: #fff;

// Main colors.
$color-primary: $palantinate-blue !default;
$color-secondary: $blue-de-france !default;
$color-accent: $pastel-orange !default;
$color-success: $norway !default;
$color-danger: $mojo !default;
$color-light-gray: $white-smoke !default;
$color-dark-gray: $aluminum !default;
$color-shadow: rgba($black, 0.15);

/// The main colors used throughout the site. This map can be used to automatically add color classes.
///
/// @type Map
$theme-colors: (
	'primary': $color-primary,
	'secondary': $color-secondary,
	'accent': $color-accent,
	'success': $color-success,
	'danger': $color-danger,
	'light-gray': $color-light-gray,
	'dark-gray': $color-dark-gray,
	'shadow': $color-shadow
);

// Elements.
$body-background: $white;

$text-default-dark: $black;
$text-default-light: $white-smoke;

$link: $color-primary;
$link-hover: $color-secondary;
$link-visited: $link;

// ====================================
// TYPOGRAPHY
// ====================================

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

/// Set the `body` font family.
///
/// @type String
$base-font-family: $font-family-sans-serif;

/// Set the base (`root`) font size for the project. This should be unitless!
///
/// @type Number
$base-font-size: 16 !default;

/// Set the base line height for the project. This value should be unitless and represent the pixel equivalent.
///
/// @type Number
$base-line-height: 24 !default;

/// Set the base font weight for the project.
///
/// @type {Number|String}
$base-font-weight: 400 !default;


// ====================================
// SIZES
// ====================================

/// Set the max width of the site.
///
/// @type Number
$site-width: 100%;

/// Set the width of the site's content.
///
/// @type Number
$content-width: 1200px;

/// Set a default gutter width.
///
/// @type Number
$gutter: rem(20);


// ====================================
// BREAKPOINTS
// ====================================

/// Breakpoints - add more as needed.
///
/// @type Number
/// @link https://medium.freecodecamp.com/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862#.or3duno2h
$tablet-portrait: 600px;
$tablet-landscape: 900px;
$desktop: 1200px;
$desktop-xl: 1800px;


// ====================================
// Z-INDEX
// ====================================

/// Keep your sanity while managing your z-indeces.
///
/// @type Map
/// @link https://github.com/minamarkham/sassy-starter/blob/master/src/scss/utilities/_config.scss#L39
$z-index: (
	default: 1
);
